# Filtering and Ordering - Lab

## Introduction
In this lab, you will write more `SELECT` statements to solidify your ability to query a SQL database. You will also write more specific queries using the tools you learned in the previous lesson.

## Objectives
You will be able to:
* Limit the number of records returned by a query using `LIMIT`
* Filter results using `BETWEEN` and `IS NULL`
* Order the results of your queries by using `ORDER BY` (`ASC` & `DESC`)

### Famous Dogs

Here's a database full of famous dogs!  The `dogs` table is populated with the following data:

|name      |age    |gender |breed           |temperament|hungry |
|----------|-------|-------|----------------|-----------|-------|
|Snoopy    |3      |M      |beagle          |friendly   |1      |
|McGruff   |10     |M      |bloodhound      |aware      |0      |
|Scooby    |6      |M      |great dane      |hungry     |1      |
|Little Ann|5      |F      |coonhound       |loyal      |0      |
|Pickles   |13     |F      |black lab       |mischievous|1      |
|Clifford  |4      |M      |big red         |smiley     |1      |
|Lassie    |7      |F      |collie          |loving     |1      |
|Snowy     |8      |F      |fox terrier     |adventurous|0      |
|NULL      |4      |M      |golden retriever|playful    |1      |

## Connecting to the Database

First, import sqlite3 and establish a connection to the database **dogs.db**. Then, create a cursor object so that you can pass SQL queries to the database.

In [ ]:
#Your code here; import sqlite, create a connection and then a cursor object.
import pandas as pd
import sqlite3

conn = sqlite3.connect('dogs.db')
cur = conn.cursor()

## Queries

Display the outputs for each of the following query descriptions.

### Select the name and breed for all female dogs

In [ ]:
#Your code here
df = pd.DataFrame(cur.execute("""
                                SELECT name, breed
                                FROM dogs
                                WHERE gender = 'F';
                                """).fetchall())
df.columns = [x[0] for x in cur.description]
df

### Select the names of all dogs listed in alphabetical order.  Notice that SQL lists the nameless dog first.

In [ ]:
#Your code here
df2 = pd.DataFrame(cur.execute("""
                                SELECT name
                                FROM dogs
                                ORDER BY name ASC;
                                """).fetchall())
df2.columns = [x[0] for x in cur.description]
df2

### Select any dog that doesn't have a name

In [ ]:
#Your code here
df3 = pd.DataFrame(cur.execute("""
                                SELECT *
                                FROM dogs
                                WHERE name IS NULL;
                                """).fetchall())
df3.columns = [x[0] for x in cur.description]
df3

### Select the name and breed of only the hungry dogs and list them from youngest to oldest

In [ ]:
#Your code here
df4 = pd.DataFrame(cur.execute("""
                                SELECT name, breed
                                FROM dogs
                                WHERE hungry = 1
                                ORDER BY age ASC;
                                """).fetchall())
df4.columns = [x[0] for x in cur.description]
df4

### Select the oldest dog's name, age, and temperament

In [ ]:
#Your code here
df5 = pd.DataFrame(cur.execute("""
                                SELECT name, age, temperament
                                FROM dogs
                                ORDER BY age DESC
                                LIMIT 1;
                                """).fetchall())
df5.columns = [x[0] for x in cur.description]
df5

### Select the three youngest dogs

In [ ]:
#Your code here
df6 = pd.DataFrame(cur.execute("""
                                SELECT *
                                FROM dogs
                                ORDER BY age ASC
                                LIMIT 3;
                                """).fetchall())
df6.columns = [x[0] for x in cur.description]
df6

### Select the name and breed of the dogs who are between five and ten years old, ordered from oldest to youngest

In [ ]:
#Your code here
df7 = pd.DataFrame(cur.execute("""
                                SELECT name, breed
                                FROM dogs
                                WHERE age BETWEEN 5 AND 10
                                ORDER BY age DESC;
                                """).fetchall())
df7.columns = [x[0] for x in cur.description]
df7

### Select the name, age, and hungry columns for hungry dogs between the ages of two and seven.  This query should also list these dogs in alphabetical order.

In [ ]:
#Your code here
df8 = pd.DataFrame(cur.execute("""
                                SELECT name, age, hungry
                                FROM dogs
                                WHERE age BETWEEN 2 AND 7
                                ORDER BY name ASC;
                                """).fetchall())
df8.columns = [x[0] for x in cur.description]
df8

## Summary

Great work! In this lab you practiced writing more complex SQL statements to not only query specific information but also define the quantity and order of your results.